<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Interface</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px 0;
            cursor: pointer;
        }
        ol {
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            padding: 20px;
            padding-inline: 30px;
        }
        li {
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>API Interface</h1>
        <form method="post" action="<%=server%>/run"><button id="fetchButton">Fetch Latest Trends</button></form>
        <h1 style="margin-bottom: 5px;">These are the most happening topics as on <%=trend.timestamp%></h1>
        <p style="margin-top: 0%;"><strong>IP: <%=trend.ip%></strong></p>
        <p style="margin-top: 0%;">selenium script id <strong><%=trend.selenium_script_id%></strong></p>
        <ol id="output">
           <li><%=trend.trend1%></li>
           <li><%=trend.trend2%></li>
           <li><%=trend.trend3%></li>
           <li><%=trend.trend4%></li>
           <li><%=trend.trend5%></li>
        </ol>
    </div>
 
</body>
</html>
